<!--<div>-->
  <!--<h3>Edition</h3>-->
  <!--<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">-->
    <!--<mat-form-field>-->
      <!--<input matInput formControlName="title" placeholder="Titre" required maxlength="50">-->
      <!--<mat-error *ngFor="let message of error.data.title">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<textarea matInput formControlName="description" placeholder="Description" required></textarea>-->
      <!--<mat-error *ngFor="let message of error.data.description">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput formControlName="price" type="number" placeholder="Prix">-->
      <!--<mat-error *ngFor="let message of error.data.price">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput formControlName="place" placeholder="Lieu" required>-->
      <!--<mat-error *ngFor="let message of error.data.place">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input-->
        <!--[matDatepicker]="voteDeadlineDp"-->
        <!--formControlName="voteDeadline"-->
        <!--placeholder="Deadline de la phase de vote"-->
      <!--&gt;-->
      <!--<mat-datepicker #voteDeadlineDp></mat-datepicker>-->
      <!--<mat-error *ngFor="let message of error.data.voteDeadline">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input-->
        <!--[matDatepicker]="enrollementDeadlineDp"-->
        <!--formControlName="enrollementDeadline"-->
        <!--placeholder="Deadline de la phase de participation"-->
      <!--&gt;-->
      <!--<mat-datepicker #enrollementDeadlineDp></mat-datepicker>-->
      <!--<mat-error *ngFor="let message of error.data.enrollmentDeadline">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input-->
        <!--[matDatepicker]="dateDp"-->
        <!--formControlName="date"-->
        <!--placeholder="Date"-->
      <!--&gt;-->
      <!--<mat-datepicker #dateDp></mat-datepicker>-->
      <!--<mat-error *ngFor="let message of error.data.date">-->
        <!--{{message}}-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->
    <!--<button mat-button type="submit" [disabled]="!eventForm.valid" color="green">Mettre à jour</button>-->
  <!--</form>-->
<!--</div>-->
